@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Mulish", serif;
}
.header{
    width: 1440px;
    /* border: 2px solid red; */
    margin: 0 auto;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul{
    display: flex;
    align-items: center;
    gap: 41px;
}
.nav ul li{
    font-size: 18px;
    font-weight: 400;
    line-height: 22.59px;
}
.nav ul li:hover{
    font-weight: 700;
}


  .gg{
    width: 421.21px;
height: 98.25px;
top: 263.09px;
left: 130px;
gap: 0px;
opacity: 0px;
font-family: Mulish;
font-size: 45px;
font-weight: 700;
line-height: 56px;
text-align: left;

}
.abobus{
 width: 440px;
height: 84.21px;
top: 387.66px;
left: 130px;
gap: 0px;
opacity: 0px;
font-family: Mulish;
font-size: 19px;
font-weight: 300;
line-height: 32px;
text-align: left;
}
.cry:hover{
    width: 123px;
height: 20.18px;
top: 520.99px;
left: 167px;
gap: 0px;
opacity: 0px;
font-family: Mulish;
font-size: 17px;
font-weight: 700;
line-height: 21.34px;
text-align: left;
width: 197.75px;
height: 49.12px;
top: 506.96px;
left: 130px;
gap: 0px;
border-radius: 55px 0px 0px 0px;
opacity: 0px;
background-color: #458FF6;
color: red;

}
.bus{
    width: 609px;
height: 466.68px;
top: 178px;
left: 701px;
gap: 0px;
opacity: 0px;
}
.bus2{
    width: 212px;
height: 56.74px;
top: 736px;
left: 628px;
gap: 0px;
opacity: 0px;
font-family: Mulish;
font-size: 35px;
font-weight: 700;
line-height: 56px;
text-align: left;
text-align: center;
}
.bus3{
    width: 952px;
height: 60.8px;
top: 854.55px;
left: 256px;
gap: 0px;
opacity: 0px;
font-family: Mulish;
font-size: 18px;
font-weight: 300;
line-height: 30px;
text-align: center;
color: #7D7987;
}
.bus4{
    width: 280.25px;
height: 88.74px;
top: 1214.11px;
left: 184.09px;
gap: 0px;
opacity: 0px;
font-family: Mulish;
font-size: 16px;
font-weight: 300;
line-height: 28px;
text-align: left;
}
.bus5{
    width: 283.37px;
    height: 91.37px;
    top: 1208.57px;
    left: 583.17px;
    gap: 0px;
    opacity: 0px;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    
         
}
.bus6{
 width: 274.98px;
height: 88.74px;
top: 1213.68px;
left: 995.34px;
gap: 0px;
opacity: 0px;
font-family: Mulish;
font-size: 16px;
font-weight: 300;
line-height: 28px;
text-align: left;
}
.bus7{
    width: 274.98px;
height: 88.74px;
top: 1626.17px;
left: 183.7px;
gap: 0px;
opacity: 0px;
font-family: Mulish;
font-size: 16px;
font-weight: 300;
line-height: 28px;
text-align: left;
}
.bus8{
    width: 280.25px;
height: 89.68px;
top: 1630.08px;
left: 588.66px;
gap: 0px;
opacity: 0px;
font-family: Mulish;
font-size: 16px;
font-weight: 300;
line-height: 28px;
text-align: left;

}
.bus9{
    width: 283.37px;
height: 61.07px;
top: 1634.79px;
left: 985.34px;
gap: 0px;
opacity: 0px;
font-family: Mulish;
font-size: 16px;
font-weight: 300;
line-height: 28px;
text-align: left;
}
.bus10{
    width: 98px;
height: 23.31px;
top: 1802.23px;
left: 690px;
gap: 0px;
opacity: 0px;
font-family: Mulish;
font-size: 18px;
font-weight: 700;
line-height: 22.59px;
text-align: left;


}